{% extends "base.html" %}
{% load static %}

{% block title %}Find Doctors | Leven Health{% endblock %}

{% block content %}

<!-- PAGE HEADER -->
<section class="doctor-page-header">
    <h1>Find Doctors</h1>
    <p>Choose from verified specialists you can trust</p>
</section>

<!-- DOCTOR LIST -->
<section class="doctor-list">
    <div class="doctor-list-container">

        {% if doctors %}
        <div class="doctor-grid">

            {% for doctor in doctors %}
            <div class="doctor-card">

                <img
                    src="{% if doctor.profile_image %}
                            {{ doctor.profile_image.url }}
                         {% else %}
                            {% static 'image/doctors/default.png' %}
                         {% endif %}"
                    alt="Doctor"
                >

                <h3>Dr. {{ doctor.full_name }}</h3>

                <p class="specialization">
                    {{ doctor.specialization }}
                </p>

                <p class="experience">
                    {{ doctor.experience_years }}+ Years Experience
                </p>

                <p class="fee">
                    ₹ {{ doctor.consultation_fee }} Consultation
                </p>

                <div class="doctor-card-actions">
                     <a href="{% url 'doctor:doctor_detail' doctor.id %}"
                    class="btn btn-secondary doctor-btn">
                        View Profile
                    </a>

                    <a href="{% url 'doctor:book_appointment' doctor.id %}"
                       class="btn btn-primary doctor-btn">
                        Appointment
                    </a>
                </div>

            </div>
            {% endfor %}

        </div>
        {% else %}

        <!-- EMPTY STATE -->
        <div style="text-align:center; padding:60px 20px;">
            <p>No doctors available at the moment.</p>
        </div>

        {% endif %}

    </div>
</section>

{% endblock %}
